<ng-select 
bindLabel="nameAndCode"
bindValue="nodeId"
(search)="searchMember($event)"
placeholder="Search member"
(click)="expandChart(selectedMemberName)"
[minTermLength] = 3
[(ngModel)]="selectedMemberName">
<ng-option *ngFor="let item of getData()" [value]="item">
  <img class="thumbnail" height="15" width="15" [src]="item.profilePic?item.profilePic:'assets/img/user.png'"/> {{ item.name + ' (' + item.nodeId + ')' }}
</ng-option>
</ng-select>

<div class="btn-action-button-list">
  <button (click)="chart.zoomIn()" class="btn plus-btn"><i class="fa fa-plus icon-action" aria-hidden="true"></i>
  </button>
  <button  (click)="chart.zoomOut()" class="btn minus-btn"><i class="fa fa-minus icon-action" aria-hidden="true"></i>
  </button>
  <button (click)="chart.fit()" class="btn refresh-btn"><i class="fa fa-refresh icon-action" aria-hidden="true"></i>
  </button>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0UEWlTvg5srJzWvwY8NVX5FVGkiBCYmXdBe-BmeN_N8BEuA/viewform?usp=sf_link"><button  class="btn refresh-btn"><i class="fa fa-pencil icon-action" aria-hidden="true"></i>
  </button></a>
    
</div>
<div #chartContainer id="chartContainer">


   
</div>
