#chartContainer{
  background-color: #efefed;
    display: flex;
    width: 100%;
    height: 100%;
}
.btn-action-button-list{
    cursor: pointer;
    width:70px;
    padding: 20px;
    position: absolute;
    pointer-events: none;
    right:2px;
    bottom: 2px;

}
.action-button{
  pointer-events: auto;
}
.btn-action-button:hover {
    opacity: 0.7;
  }
  .link{
    stroke:white!important;
  }
  .thumbnail{
    margin-right:5px;
}
.refresh-btn, .plus-btn, .minus-btn{
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 0 6px 1px rgb(41 41 41 / 25%);
  transition: all 0.5s;
  z-index: 997;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.refresh-btn{
  margin-top:10px;
}
.icon-action{
  color:rgb(117, 117, 117)
}
.refresh-btn:hover, .plus-btn:hover, .minus-btn:hover {
  opacity: 0.7;
}
/* The side navigation menu */
.sidenav {
  margin-top: 2px;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: -1; /* Stay on top */
  box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  right: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: visibility 0s, opacity 0.5s linear;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* #nameAndCodeSelector{
  max-width: 300px;
  min-width: 300px;
  z-index: 4;
  background-color: white;
  border-radius: 10px;
  margin: 8px 0 8px 8px;
  position: absolute;
  padding: 0px;
}
*/

.text-italics{
  font-style: italic;
}

#memberName{
  word-wrap: break-word;
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
#lifeTime{
  text-align: center;
  font-size: 12px;
}
#profilePicInfo{
  display: flex;
  justify-content: center;
}
.profilePicInfo{
  display: flex;
  justify-content: center;
}
#profilePic{
  border-radius:100px;
  width:80px;
  height:80px;
  background-color:#ededed;
}
#memberNameInfo{
  padding-left: 30px;
  padding-right: 30px;
}
.mat-drawer-container{
  height: 100%;
}
mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.memberInfo{
  box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  background-color: white;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: end;
  padding: 7px;
}
@media (max-width: 500px) {
  mat-drawer{
    width: 100%;
  }
  .select-dropdown-in-tree-main{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
  
  }
 
  .in-tree-main{
    background-color: white;
    width: 300px;
  }
  
}
@media (min-width: 500px) {
  mat-drawer{
    width: 300px;
    
  }
  .select-dropdown-in-tree-main{
    position: absolute;
    width: 100%;
  }
  .in-tree-main{
    background-color: white;
    width: 400px;
  }

}
.ng-select .ng-select-container:after {
  border: none;
}

.ng-select.custom ::ng-deep .ng-select-container:after  {            
  border: thin #efefed;
  position: none;
}
.ng-select.custom ::ng-deep  .ng-select-container {
  border: none;

} 
.ng-select.custom ::ng-deep .ng-select-container.ng-appearance-outline {
  min-height: 48px;
}
.ng-select{
  padding-bottom: 0px !important;

}
.ng-select.custom ::ng-deep .ng-select-container.ng-appearance-outline .ng-placeholder {
  background-color: transparent;
  position: absolute;
  color: rgba(0,0,0,0.54);
  transform-origin: left 0;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

}
.select-dropdown{
  border: 0.5px solid #efefed;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 25px;
  box-shadow:0 0.5px 0.5px rgb(60 64 67 / 30%), 0 1px 6px 1px rgb(60 64 67 / 15%);
}
.ng-select.custom.ng-select-single ::ng-deep .ng-select-container.ng-appearance-outline .ng-arrow-wrapper {
  bottom: 11px;
}
::ng-deep .ng-dropdown-panel.ng-select-bottom{
  top: calc(100% + 0.45em);
}
.profile-toolbar{
  padding-top: 20px;
}
.member-info-data{
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fffbfb;
}
.tree-spinner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #efefed;
}

.ng-select.custom.ng-select-single ::ng-deep .ng-select-container .ng-value-container .ng-input {
  position: absolute;
  left: 0;
  width: 100%;
  padding-left : 10px;
}
.ng-select.ng-select-single ::ng-deep .ng-select-container.ng-appearance-outline .ng-clear-wrapper {
  bottom: 9px;
}
.member-info{
  padding-bottom:10px;
  padding-top:10px;
}
.svg-chart-container{
  height:100%;
}
.member-office-postions{
  height:150px;
}
.member-office-about{
  height:80px;
}
.member-office-address{
  height:80px;
}