




<mat-drawer-container hasBackdrop="false">
  <mat-drawer  class="memberInfo" #drawer mode="side">
    <mat-toolbar color="primary" class="profile-toolbar">
      <button mat-icon-button (click)="closeSideNav()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <div *ngIf="selectedMemberToView==null"  >
      <div class="spinner-container">
        <div class="spinner"></div>
    </div>
    </div>

    <div *ngIf="selectedMemberToView!=null" >

      <div class="profilePicInfo">
        <img id="profilePic" [src]="selectedMemberToView.profilePic" />
      </div>
       
        <div id="memberNameInfo">
          <h5 id="memberName">{{ selectedMemberToView.name }}</h5>
          <p id="lifeTime">{{ selectedMemberToView.lifeTime }}</p>
          <div class="member-info">
          <h6 >About</h6>
          <div class="member-info-data member-office-about">
          <p class="text-italics">{{selectedMemberToView.about}}</p>
          </div>
        </div>
        <div class="member-info ">
          <h6 >Address</h6>
          <div class="member-info-data member-office-address">
          <p class="text-italics">{{selectedMemberToView.address}}</p>
        </div>
        </div>
         
          <div *ngIf="selectedMemberToView.isOfficeBearer" class="member-info ">
            <h6 >Office positions</h6>
            <div class="member-info-data member-office-postions">
              <div *ngIf="selectedMemberOfficeDetails==null"  >
                <div class="spinner-container">
                  <div class="spinner"></div>
              </div>
              </div>
              <p *ngFor="let position of selectedMemberOfficeDetails" class="text-italics">{{position.year}} as {{position.postion}}</p>

            </div>

          </div>

        </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class = "select-dropdown-in-tree-main">
      <div class="select-dropdown in-tree-main">
        <ng-select 
        class="custom"
        bindLabel="name"
        bindValue="nodeId"
        appearance="outline"
        (search)="searchMember($event)"
        placeholder="Search member"
        (click)="expandChart(selectedMemberName)"
        [minTermLength] = 3
        [(ngModel)]="selectedMemberName">
        <ng-option *ngFor="let item of getData()" [value]="item">
          <img class="thumbnail" height="15" width="15" [src]="item.profilePic?item.profilePic:'assets/img/user.png'"/> {{ item.name }}
        </ng-option>
        </ng-select>
      </div>
    </div>
    
    <div class="btn-action-button-list">
      <button (click)="chart.zoomIn()" class="btn plus-btn action-button"><i class="fa fa-plus icon-action" aria-hidden="true"></i>
      </button>
      <button  (click)="chart.zoomOut()" class="btn minus-btn action-button"><i class="fa fa-minus icon-action" aria-hidden="true"></i>
      </button>
      <button (click)="chart.fit()" class="btn refresh-btn action-button"><i class="fa fa-refresh icon-action" aria-hidden="true"></i>
      </button>
      <a class="action-button" href="https://docs.google.com/forms/d/e/1FAIpQLSd0UEWlTvg5srJzWvwY8NVX5FVGkiBCYmXdBe-BmeN_N8BEuA/viewform?usp=sf_link"><button  class="btn refresh-btn action-button"><i class="fa fa-pencil icon-action" aria-hidden="true"></i>
      </button></a>
        
    </div>

    
    <div #chartContainer id="chartContainer">
      <div *ngIf="data==null"  class="tree-spinner">
        <div class="spinner-container">
          <div class="spinner"></div>
      </div>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>

