#chartContainer{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/assets/img/tile.png');
    background-size: 15px;
    border:2px solid;
    display: flex;
    
}
.btn-action-button-list{
    cursor: pointer;
    width:100px;
    padding: 20px;
    position: absolute;
}
.btn-action-button:hover {
    opacity: 0.7;
  }
  .link{
    stroke:white!important;
  }
  .thumbnail{
    margin-right:5px;
}
ng-select{
    max-width:400px;
}
.refresh-btn, .plus-btn, .minus-btn{
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 0 6px 1px rgb(41 41 41 / 25%);
  transition: all 0.5s;
  z-index: 997;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.refresh-btn{
  margin-top:10px;
}
.icon-action{
  color:rgb(117, 117, 117)
}
.refresh-btn:hover, .plus-btn:hover, .minus-btn:hover {
  opacity: 0.7;
}