<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Family Tree</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Family Tree</li>
            </ol>
          </div>
  
        </div>
      </section>

    <section id="geneoalogy">
        <div class="container">
          <app-d3-org-chart [data]="data" [selectedUserId]="selectedUserId"></app-d3-org-chart>
        </div>
     
  </section>
    </main>