.more {
    display: none;
}

.show-more {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

:root {
    --info-gray-20: #DADDE1;
}

.toolbar {
    justify-content: end;
    background-color: white;
}


#relationship-checkbox {
    padding: 10px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix  {
    display: inherit;
    width: 240px !important;
}

.rangeDatePicker {
    display: flex !important;
    align-items: center !important;
}
.mat-expansion-panel-spacing {
    margin:0px
}
.mat-expansion-panel-body {
    padding: 0 17px 10px;
}
.mat-expansion-panel-header{
    padding: 0 14px;
}
.mat-expansion-panel-header.mat-expanded {
    height: 46px;
}

mat-panel-title {
    font-weight: bold;
}
.mat-expansion-panel {
     border-radius: 0px;
}
button{
    margin: 5px;
}
mat-form-field {
    display: grid;

}
.edit-form{
    padding: 20px 20px 0px 20px;
}
.form-button{
    font-size: 30px;
}
.list-text-info{
    width: 100%;
}
.mat-card{
    padding: 0px;
}
::ng-deep .mat-form-field-flex {
    min-height: 150px !important;
}
.vitals{
    padding-left: 0px;
    font-weight: 450;
}
.vitals-nospace{
    padding-left: 0px;
    max-width: max-content;
}
.family-name{
    padding-bottom: 15px;
}
ngx-gallery /deep/ ngx-gallery-preview {
    transition: all 0.5s;
}