<div id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Office bearers</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Office bearers</li>
          </ol>
        </div>

      </div>
    </section>

    <!-- ======= Story Intro Section ======= -->
    <section id="story-intro" class="story-intro">
      <div class="container">

        <div class="row">

          <div class="content col">
            <h3>Special Appeal</h3>
            <p class="fst-italic">
              It requires greater strides for the rapid advances and alround growth of the Kudumbayogam by the personal presence and financial assistance of it's members.Therefore the full Co-operation of the members is solicited.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Story Intro Section -->

    <!-- ======= Members Section ======= -->
    <section id="members" class="members">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>President</h5>
              <div class="member-img">
                <img src="assets/img/members/FrJoseKallumalickal.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Rev. Fr. Jose Kallumalickal</h4>
                <p>Marygiri Aramana, Thiruvalla<br> Mob: 9447152704</p>
                
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Working President</h5>
              <div class="member-img">
                <img src="assets/img/members/JACOBKannoli.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. K.V. Jacob</h4>
                <p>Kannolil, Puramattom<br> Mob: 9447121945</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>General Secretary</h5>
              <div class="member-img">
                <img src="assets/img/members/THOMAS_V_JOHN.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. Thomas V. John (Binu)</h4>
                <p>Vazhuvelil<br> Mob: 9946664692</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Vice President</h5>
              <div class="member-img">
                <img src="assets/img/members/JOHNVARGHESE.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. John Varghese</h4>
                <p> Kottackal, Eraviperoor<br> Mob: 9846652433</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Vice President</h5>
              <div class="member-img">
                <img src="assets/img/members/GEORGE_A_KOSHY.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. George A. Koshy</h4>
                <p>Azhakanal, Kadamankulam<br> Mob: 9446464514</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Vice President</h5>
              <div class="member-img">
                <img src="assets/img/members/K_V_PHILIP.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. K.V. Philip</h4>
                <p>Kunnumpurathu, Kuttapuzha<br> Mob: 9562366263</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Secretary</h5>
              <div class="member-img">
                <img src="assets/img/members/K_I_Joykutty.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. K.I.Joykutty</h4>
                <p>Kurungazhickottu Puramattom<br> Mob: 9946664692</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Secretary <br>Kudumba Charithram</h5>
              <div class="member-img">
                <img src="assets/img/members/V_J_PHILIP.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. V.J. Philip</h4>
                <p>Kaippallimannil Kozhencherry<br> Mob: 9744756313</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Org. Secretary</h5>
              <div class="member-img">
                <img src="assets/img/members/THOMAS_T_THURUTHIPPALLIL.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. Thomas T. Thuruthippallil</h4>
                <p>Kadamankulam<br> Mob: 9446351727</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Org. Secretary</h5>
              <div class="member-img">
                <img src="assets/img/members/Jose_K_Varughes.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. Jose K. Varughese</h4>
                <p>Kallumalickal, Othera East<br> Mob: 9496619988</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Tressurer</h5>
              <div class="member-img">
                <img src="assets/img/members/JOHNSON_TRESSURER.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. K.S. Johnson</h4>
                <p>Kadackethukalayi, Kallooppara<br> Mob: 9666568452</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Vanitha Secretary</h5>
              <div class="member-img">
                <img src="assets/img/members/ElizabethMathew.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mrs. Elizabeth Mathew</h4>
                <p>Thuruthiyil, M.North<br>Tel: 0469 2677201</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Youth Secretary</h5>
              <div class="member-img">
                <img src="assets/img/members/MANOJAMBALAKKADVIL.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. Manoj Ambalakkadvil</h4>
                <p>Kurichy<br> Mob: 9447304832</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin">
            <div class="member">
              <h5>Website Co Ordinator</h5>
              <div class="member-img">
                <img src="assets/img/members/Biju_Kurian.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Mr. Biju Kurian</h4>
                <p>Vazhuvelil, Kottanad<br> Mob: 9447359170</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/members/member-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Niall Katz</h4>
                <span>Marketing</span>
                <p>Aut ex esse explicabo quia harum ea accusamus excepturi. Temporibus at quia quisquam veritatis impedit. Porro laborum voluptatum sed necessitatibus a saepe. Deserunt laborum quasi consequatur voluptatum iusto sint qui fuga vel. Enim eveniet sed quibusdam rerum in. Non dicta architecto consequatur quo praesentium nesciunt.</p>
              </div>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Members Section -->

</div>