<div id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Office bearers</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Office bearers</li>
          </ol>
        </div>

      </div>
    </section>

    <!-- ======= Members Section ======= -->
    <section id="office" class="members">
      <div class="container">
        

        <div class="col-sm-4 col-md-4 year-selection" data-aos="fade-right">
          <div class="row">
            <div class="col-sm-2 col-md-5 year">
              <h4>Year : </h4>
            </div>
            <div class="col-sm-5 col-md-7">
              <select (change)="onYearchange($event.target)" class="form-select" aria-label="Default select example">
                <option *ngFor="let year of years">{{year}}</option>
              </select>
              
            </div>
            
          </div>
    
        </div>
        <div  *ngFor="let selectedOffice of selectedOfficeList"  >
          <h3 *ngIf="selectedOffice" class="position-title">{{selectedOffice.title}}</h3>
          <div *ngIf="selectedOffice" class="row member-list">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
              *ngFor="let member of selectedOffice.officeMembers" 
            >
              <div class="member">
                <h4 class="position-heading">{{ member.postion }}</h4>
                <div class="member-img">
                  <img [src]="member.image" class="img-fluid off-mem-image" alt="" />
                </div>
                <div class="member-info">
                  <h6>{{ member.name }}</h6>
                  <p  *ngIf="member.mobile && member.mobile!='-'">
                    {{ member.address }}<br />
                    Mob: {{ member.mobile }}
                  </p>
                  <p *ngIf="!member.mobile">
                    {{ member.address }}<br />
                  </p>
                </div>
              </div>
            </div>
      <!--     
          <div class="row mb-5 align-items-end">
            <div class="col-md-6" data-aos="fade-right">
              <h4>Kaisthanasamithy</h4>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
              *ngFor="let member of selectedOffice.kaisthanasamithy"
            >
              <div class="member">
                <div class="member-img">
                  <img
                    src="assets/img/blank-profile-picture.png"
                    class="img-fluid off-mem-image"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>{{ member.name }}</h4>
                  <p>
                    {{ member.address }}<br />
                    Mob: {{ member.mobile }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5 align-items-end">
            <div class="col-md-6" data-aos="fade-right">
              <h4>Auditors</h4>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
              *ngFor="let member of selectedOffice.auditors"
            >
              <div class="member">
                <div class="member-img">
                  <img
                    src="assets/img/blank-profile-picture.png"
                    class="img-fluid off-mem-image"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>{{ member.name }}</h4>
                  <p>
                    {{ member.address }}<br />
                    Mob: {{ member.mobile }}
                  </p>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row mb-5 align-items-end">
            <div class="col-md-6" data-aos="fade-right">
              <h4>Sexton</h4>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch member-alin"
              *ngFor="let member of selectedOffice.sextons"
            >
              <div class="member">
                <div class="member-img">
                  <img
                    src="assets/img/blank-profile-picture.png"
                    class="img-fluid off-mem-image"
                    alt=""
                  />
                </div>
                <div class="member-info">
                  <h4>{{ member.name }}</h4>
                  <p>
                    {{ member.address }}<br />
                    Mob: {{ member.mobile }}
                  </p>
                </div>
              </div>
            </div>-->
          </div>
      
        </div>

    
      </div>
    </section>
    <!-- End Members Section -->
    

</div>