
.off-mem-image{
    width: 200px;
}
section{
    padding: 10px 0 !important;
}

.year{
    align-items: center;
    display: flex;
}
.year-selection{
    padding-top: 30px;
    padding-bottom: 30px;
}
.member-list{
    padding-top: 15px;
}
.position-heading{
    word-wrap: break-word;
    width: 200px;
}
.position-title{
    font-weight: bold;
}