<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Finance</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Finance</li>
            </ol>
          </div>
  
        </div>
      </section>

    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title">
            <h2>Finance</h2>
          </div>
          <div class="row content col">
            <p>The contribution of the members are the only source of income of the Kudumbayogam. The following funds are organized and operated. <b>Financial Management is jointly</b> carried out by the <b>President, General Secretary and the Treasurer.</b></p>
         </div>
 
            <div class="row content col">
                <ol type="a">
                   <b> <li>Kshemanidhi (Welfare Fund)</li></b>
                   The Welfare Fund was formed and started in 1976 to help those members who are financially backward, and to give them medical as well as educational aid. The said works are carried out from the interest of the money collected through endowments, donations etc.
                    <b><li>Sthiram Fund (Static Fund)</li></b>
                    The Static fund started in 1988 is that amount of money deposited in the Bank. The expenses for general activities of the Kudumbayogam and the expenses for Annual meeting are partly met out of the interest accrued from the Static Fund.
                    <b><li>Educational Scholarship</li></b>
                    This programme is started in 2002 with the intention of encouraging financially backward intelligent students in education upto 12th standard, who have passed from 4th standard and who are selected from the specially conducted test.
                    <b><li>Charithra Fund (History Fund)</li></b>
                    This is to raise the Fund for publishing the Kudumbayogam History and the Website.
                    <b><li>Vivaha Sahaya Nidhi (Marriage Aid Fund)</li></b>
                    Marriage aid fund has been raised to give financial assistance for the marriage of the women of those families who are economically backward.
                    <b><li>Bhavana Nirmana Sahaya Nidhi (House Construction Aid Fund )</li></b>
                    This fund is aimed at, to assist for constructing and maintaining residential houses, for those who are not financially well.
                  </ol>
                <p>
              </p>
  
        </div>
        <!-- <div class="row content">
            <div class="col-lg-6">
              <img src="assets/img/logo.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a href="our-story.html" class="btn-learn-more">Learn More</a>
            </div>
          </div>  -->
  
        </div>
     
  </section>
    </main>