.listInfo{
    display: grid;
}
#show-more{
    color: #00008B;
    cursor: pointer;
}
.link{
    color: #00008B !important;
    cursor: pointer;
    font-size: .875rem!important;
}
.disable-link{
    color: black !important;
    font-size: .875rem!important;
}
.main-link{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
