<div class="listInfo">

    <span  *ngFor="let listObj of listInfo">
        <a class="link" *ngIf="listObj.link"  (click)="openLink(listObj.link)" style="padding-left: 10px;color: rgba(28,43,51,1);font-size: .875rem!important;;" >
            {{listObj.key}}
        </a>
        <span *ngIf="listObj.key && !listObj.link" style="padding-left: 10px;color: rgba(28,43,51,1);font-size: .875rem!important;;" >
            {{listObj.key}}
        </span>
        <span  *ngIf="listObj.value">
            ({{listObj.value}})
        </span>
    </span>
    <a id="show-more" *ngIf="listInfo.length > limit || fullList.length > limit" (click)="toggle()">Show {{ showMore ? 'less' : 'more' }}</a>
    
</div>
