<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Venue</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Venue</li>
        </ol>
      </div>
    </div>
  </section>

  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>Venue</h2>
      </div>
      <div class="row content col">
        <h3>Annual general meeting</h3>
        <p>
          The annual meeting is regularly convened on the convenient two days
          between the X'mas day and the New Year day including the meeting of
          young men. Arts and Sports Contest and Women's conference.
        </p>
        <h3>Venue of Annual General Body were held.</h3>
        <p>
          The Annual General body was held under the auspices of the committee
          formed in April 1973. The First Annual General Body meeting after the
          re-organization of the Kudumbayogam was held in the residence of Shri.
          K.C. Issac, Kottackal Puthuparampil, on the 27th of December 1973
          Thursday.
          <br />  As per the entry in the Diary of Kottackal GeeVarghese Chandy
          in 1917 counting the years from then, the Annual Meeting of 1973 is
          estimated to be the 57th. Since 1975, the Annual General Body is
          conducted under the auspices of each Sakha every year under the
          control of the Managing Committee.
        </p>


        <div class="row venue-details">
          <div>
            <h3 class="list-heading">List</h3>
            <ul class="timeline">
              <li *ngFor="let venue of venueDetails">
                <h4 class="timelineData"
                  >{{ venue.slNo
                  }}<sup>{{ ordinal_suffix_of(venue.slNo) }}</sup>
                  Kudumbayogam</h4
                >
                <h5 class="timelineData" class="float-right">{{ venue.year }}</h5>
                <p class="timelineData">{{ venue.nameAndPlace }}</p>
                <hr>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Features Section ======= -->
  </section>
</main>
