<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Administration</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Administration</li>
            </ol>
          </div>
  
        </div>
      </section>

    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title">
            <h2>Administration</h2>
          </div>
          <div class="row content col">
            <p>There is no written bylaws or rules. Kudumbayogam is functioning on the basis of the traditional form of Principles and conventions derived from past experiences; and also on the resolutions passed every year by the General body. <b>The Managing Committee has the power to decide and implement important matters</b> and the same has to be presented in the General body following next, for it's approval.</p>

            <p> The <b>Supreme governing body</b> is the <b>General body</b> held from time to time after giving due notice.</p>
          </div>
 
            <div class="row content col">
            
              <h3 >Annual general meeting</h3>
              <p>
                The <b>annual meeting</b> is regularly convened on the convenient <b>two days between the X'mas and the New Year day.</b> This includes the meetings of youth and women. The Arts and Sports Contests are also convened. The general body elects the following Samithis (Committees).</p>
                <ol type="a">
                   <b> <li>Patrons</li></b>
                    A senior clergyman of the family who is involved in the activities of the Kudumbayogam, is working as the patron and the other members of the clergy involved in the Kudumbayogam activities are working as co- patrons and Assistant Patrons.
                    <b><li>Working Committee</li></b>
                    The body of persons including the President, Working President, Three Vice- Presidents, General Secretary, Secretary, Two organizing Secretaries, Women Secretary, Yuvajana Secretary, Treasurer form the working committee. Conventionally the President will be a clergy man.
                    <b><li>Managing Committee</li></b>
                    Members of the working committee and the representatives elected from the branches (Sakha) by general body form the Managing committee. The control of the activities of the Kudumbayogam is vested in the Managing Committee.
                    <b><li>Advisory Committee</li></b>
                    A body of the senior members of the family who are acquainted with Kudumbayogam activities and also who are loyal to the Kudumbayogam form the Advisory Committee.
                  </ol>
                <p>
              </p>
  
        </div>
        <!-- <div class="row content">
            <div class="col-lg-6">
              <img src="assets/img/logo.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <a href="our-story.html" class="btn-learn-more">Learn More</a>
            </div>
          </div>  -->
  
        </div>
     
  </section>
    </main>