<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Genealogy</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Genealogy</li>
            </ol>
          </div>
  
        </div>
      </section>

    <section id="geneoalogy">
        <div class="container">
          <div class="section-title">
            <h2>Vamsavalli (Geneoalogy)</h2>
            </div>
            <div>
              <p>
                The genealogy is assessed on the assumption that Thommy who was living in Vellikkara, Varghese who was living in Karavadasseril and Thommy who was living in Peralummoottil are placed in the First generation.
              </p>
            </div>
            <div>
              <h3 >Branches</h3>
            </div>
            <div >
              <p>
                Thommy is the great grand father of our Kudumbayogam and Chandy and Chandapillai are the two sons of the said Thommy. The elder son Chandy lived in Karavadasseril. The younger son Chandapillai lived with his father at Vellikkara. His son Thommy and his descendants form the Vellikkara Sakha.
              </p>
              </div>
              <div class="geneoalogy-pic">
                <img src="assets/img/geneoalogy/geneoalogy-1.gif" class="img-fluid about-pic"  />
              </div>
     
              <div >
                <p>
                  Chandy the elder son of Thommy who lived in Karavadasseril had two sons. Elder son is Thommy and younger son is Varghese. The younger son lived in Karavadasseril and he had two sons. Of them, the elder son Varghese lived in Thottupurathu and the younger son Thommy lived in Karavadasseril. The children and grand children of Varghese and Thommy together constitute the Karavadasseril Sakha.
                </p>
                </div>
                <div class="geneoalogy-pic">
                  <img src="assets/img/geneoalogy/geneoalogy-2.gif" class="img-fluid about-pic"  />
                </div>
  
            <div>
              <p>
                Thommy, the elder son of Chandy, who lived in Peralummottil, Kallooppara, had Six sons. Of them the decendants of Chandy form the Cheriyaveloor Sakha, the decendants of Chacko form the Peralummoottil Puthenpura Sakha, the decendants of Thommy form the Kunnumpurathu Sakha, the descendants of Kurien form the Vazhuvelil Sakha, the decendants of Geevarghese form the Peralummoottil Kudumbam Sakha and the descendants of Idichandy form the Pynummoottil Sakha. These are the Eight Sakhas of Peralummoottil Kudambayogam at Present.
              </p>
            </div>
            <div class="geneoalogy-pic">
              <img src="assets/img/geneoalogy/geneology-3.gif" class="img-fluid about-pic"  />
            </div>
        </div>
     
  </section>
    </main>