.img-fluid {
  min-height: 100%;
  min-width: 100%;

}
.sub-heading {
  padding-top: 30px;
}
.foramation-image {
  width: 165px;
  height: 120px;
}
.content {
  padding-bottom: 40px;
}
.history1 {
     position: absolute;
     top: 30%;
     left: 40%;
     transform: translate(-40%, -40%);
}
.history2 {
     position: absolute;
     top: 60%;
     left: 40%;
     transform: translate(-40%, -40%);
}
.history-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
carousel-item{
     background-color: white;
}
.about-peralum{
  padding-top:30px;
}

.about-pic{
  border-radius: 15px;
}
.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#front-peralum{
  padding-bottom: 0px;
  padding-top: 60px;
}
#events{
  padding-top: 0px;
}
#about{
  padding-bottom: 0px;
}

@media only screen and (min-width:0px) and (max-width:450px){
  .slide-img{
    height:320px;
    object-fit: cover;
  }
}
@media only screen and (min-width:451px) and (max-width:550px){
  .slide-img{
    height:420px;
    object-fit: cover;
  }
}
@media only screen and (min-width:551px) and (max-width:750px){
  .slide-img{
    height:500px;
    object-fit: cover;
  }
}
@media only screen and (min-width:751px) and (max-width:1050px){
  .slide-img{
    height:700px;
    object-fit: cover;
  }
}

.view-all{
  background: #0291d9!important;
    color: #fff;
    box-shadow: 0 7px 11px #00000026;
    padding: 15px 30px !important;
} 

/* Blog Section
--------------------------------*/
@media (max-width: 991px) {
  #blog .block-blog {
    margin-bottom: 30px;
  }
}

#blog .block-blog img {
  width: 100%;
  height: 220px;
}

#blog .block-blog .content-blog {
  display: inline-block;
  min-height: 100px;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
}

#blog .block-blog .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
}
#blog .block-blog .content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}
#blog .block-blog .content-blog h4 a:hover {
  color: #71c55d;
}

#blog .block-blog .content-blog > span {
  float: left;
  font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
  float: right;
}
#blog .block-blog .content-blog a.readmore:hover {
  color: #71c55d;
}
.event{
  margin-bottom: 10px;
}
.block-blog{
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 4px 0 rgb(0 0 0 / 19%);
}

@media (min-width: 992px) {
  .align-to-center{
      display: flex; 
      justify-content: end;
      align-items: right;
  }
}
@media (max-width: 992px) {
  .align-to-center{
      display: flex; 
      justify-content: center;
      align-items: center;
  }
}
.event-detail{
  align-items: center;
  justify-content: center;
}
.obituariesList{
  max-width: 300px;
}
.event-heading{
  font: 30px "Raleway", sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
}
.section{
  padding: 30px 0;;
}