<section id="front-peralum">
  <img class="img-fluid slide-img" [src]="images[2]" alt="Random third slide" />
  
</section>
<!-- End Hero -->


  <section id="about" class="about about-peralum">
    <div class="container">
      <div class="section-title">
        <h2>Historilogy</h2>
        <p>
          PERALUMMOOTTIL KUDUMBAYOGAM, is an assemblage of persons that formed a
          small congregation on or Before 1907 (as per the records reveals that
          it commenced since then) to continue the relationship between families
          and to bring them under one roof and helped the members of the family
          to know each other and to promote mutual understanding among the
          members of the Peralummoottil Kudumbayogam who are the descendants of
          common ancestor-One <b>Thommy-a</b> member of the
          <b>Karavadesseril</b> branch of the <b>Pakalomattom Tharvadu</b>.
        </p>
      </div>

      <div class="row content">
        <div class="col-lg-4 about-pic-div ">
          <img src="assets/img/about/history-1.jpg" class="img-fluid about-pic"  />
        </div>
        <div class="col-lg-7 pt-1 pt-lg-0">
          <p>
            The said Thommy came from kuravilangad in the year 1700 A.D.He had
            settled in the renowned ancient area of
            <b>Central Travancore</b> namely <b>Kallooppara Pakuthy</b> in a
            house called <b>Vellikkara</b> which is in
            <b>Kavungumprayar Kara</b>. His family spread and flourished in various places at different house names.Peralummoottil Kudumbayogam now constitute more than 700 families scattered in Central Travancore, all over India, and in different parts of the world.The said family congregation has grown larger and is now called by the name of <b>Kallooppara Peralummoottil Kudumbayogam</b>.
          </p>

          <a href="/about" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </div>

</section>
<section id="blog" class="section">

  <div class="container" data-aos="fade-up">
    <h2 class="event-heading">News and events</h2>
    <div class="row event-detail" data-aos="fade-up" data-aos-delay="100">

      <div class="col-md-6 col-lg-4 event"  *ngFor="let event  of postList.slice(0, 3);">
        <div class="block-blog text-left">
          <a [href]="event.url"><img [src]="event.featuredImage"  alt="img"></a>
          <div class="content-blog">
            <h4><a [href]="event.url">{{event.title}}</a></h4>
            <span>{{event.date}}</span>
            <a class="float-end readmore" [href]="event.url">read more</a>
          </div>
        </div>
      </div>
      <div class="col align-to-center">
        <p><a href="/events/posts" class="btn btn-primary view-all">View all</a></p>
    </div>


    </div>
  </div>
</section>

<section id="blog" class="section">

  <div class="container" data-aos="fade-up">
    <h2 class="event-heading">Obituaries</h2>

    <div class="row event-detail" data-aos="fade-up" data-aos-delay="100">

      <div class="col-md-6 col-lg-4 obituariesList"  *ngFor="let event  of obituaryList.slice(0, 5);">
        <div class="block-blog text-left">
          <a [href]="event.url"><img [src]="event.featuredImage"  alt="img"></a>
          <div class="content-blog">
            <h3>
              <a [href]="event.url">{{event.title}} ({{event.age}})</a>
            </h3>
            <span>{{event.date}}</span>
            <a class="float-end readmore" [href]="event.url">view</a>
          </div>
        </div>
      </div>
      <div class="col align-to-center">
        <p><a href="/events/obituaries" class="btn btn-primary view-all">View all</a></p>
    </div>


    </div>
  </div>
</section>
<!-- End #main -->
